body
{
	/* background-color:#C3E800; */
	background-image: url("gradient2.png");
	background-repeat: repeat-x;
	background-size: 10px 3000px;
	margin: 0px;
	padding: 0px;
	outline: 0px;
}
body.login-page
{
	position: fixed;
	text-align: center;
	top: 15%;
	width: 100%;
}
h1
{
	text-align: center;
	font-family: "Verdana", "Arial", "sans";
	font-size: 230%;
	color: #FFFFFF;
}
.upleft
{
	position: fixed;
	top: 0%;
	left: 20%;
	margin: 1px;
	padding: 0px;
	outline: 0px;
}
.downright
{
	position: fixed;
	bottom: -1%;
	right: 20%;
	margin: 2px;
	padding: 0px;
	outline: 0px;
}
