doctype html
html
  head
    title 404 -- Not Found
    style.
       body {
         background: url("images/404.png") no-repeat;
         background-position: top center;
       }

       @media only screen and (max-width: 620px) {
         body {
           background-size: 100%;
         }
       }
  body

