extends layout-title

block content
  h1= title
  p.
    Welcome to our public API! Please see the table below. Note that
    variables are represented using angle bracket syntax. For example: 
    <code>/api/groups/&ltgroup-name&gt</code> means you should replace the 
    <code>&ltgroup-name&gt</code> with the name of a group. All API endpionts
    begin with <code>/api</code>.
  table
    tr
      th Endpoint
      th Method
      th Description
      th Implemented
    tr
      td
        code /auth
      td GET
      td Check if a user is authenticated.
      td Yes
    tr
      td
        code /groups
      td GET
      td List all groups.  Note that all group names are unique.
      td Yes
    tr
      td
        code /groups
      td POST
      td Create new group.  Note that all group names are unique.  If it already exists, an error will be returned.
      td Yes
    tr
      td
        code /groups/&ltgroup-name&gt
      td GET
      td View the details of a specified group.
      td Yes
    tr
      td
        code /groups/&ltgroup-name&gt
      td DELETE
      td Delete a group.  If no group exists, the operation will still succeed.
      td No
    tr
      td
        code /groups/&ltgroup-name&gt/users
      td GET
      td List all users associated with the group.
      td Yes
    tr
      td
        code /groups/&ltgroup-name&gt/users
      td DELETE
      td Disassociate all users from the group.
      td No
    tr
      td
        code /groups/&ltgroup-name&gt/users/&ltuser-name&gt
      td POST
      td Associate a user with the group.
      td Yes
    tr
      td
        code /groups/&ltgroup-name&gt/users/&ltuser-name&gt
      td DELETE
      td Disassociate a user from the group.
      td No
    tr
      td
        code /groups/&ltgroup-name&gt/events
      td GET
      td List all events for a group.
      td Yes
    tr
      td
        code /groups/&ltgroup-name&gt/events
      td POST
      td Create new event for the group.
      td Yes
    tr
      td
        code /groups/&ltgroup-name&gt/events/&ltevent-name&gt
      td GET
      td View details for an event.
      td Yes
    tr
      td
        code /groups/&ltgroup-name&gt/events/&ltevent-name&gt
      td DELETE
      td Delete the group's event.
      td No
    tr
      td
        code /groups/&ltgroup-name&gt/events/&ltevent-name&gt/thumbs
      td GET
      td Get the thumbnails for an event.
      td Yes
    tr
      td
        code /groups/&ltgroup-name&gt/events/&ltevent-name&gt/photos
      td GET
      td Download all photos from an event.
      td Yes
    tr
      td
        code /groups/&ltgroup-name&gt/events/&ltevent-name&gt/photos
      td POST
      td Upload photo(s) to an event.
      td Yes
    tr
    tr
      td
        code /groups/&ltgroup-name&gt/events/&ltevent-name&gt/photos
      td DELETE
      td Delete all photos from an event.
      td No
    tr
      td
        code /groups/&ltgroup-name&gt/events/&ltevent-name&gt/photos/&ltphoto-name&gt
      td DELETE
      td Delete a photo from an event.
      td No
    tr
      td
        code /users
      td GET
      td List all users.
      td Yes
    tr
      td
        code /users
      td POST
      td Create a new user.
      td Yes
    tr
      td
        code /users/invite
      td POST
      td Invite someone to become a new user.
      td Yes
    tr
      td
        code /users/&ltuser-name&gt
      td GET
      td See a user's details
      td Yes
    tr
      td
        code /users/&ltuser-name&gt/groups
      td GET
      td List all groups a user belongs to.
      td Yes
    tr
      td
        code /users/&ltuser-name&gt/groups
      td DELETE
      td Disassociate a user from all groups
      td No
    tr
      td
        code /users/&ltuser-name&gt/groups/&ltgroup-name&gt
      td POST
      td Associate a user with a group
      td Yes
    tr
      td
        code /users/&ltuser-name&gt/groups/&ltgroup-name&gt
      td DELETE
      td Disassociate a user from a group
      td No
