extends layout

block content
  h1 Get Photos
  p Select Group 
    select
      option(value='Smith Family') Smith Family
      option(value='Miller Family') Miller Family
  p Select Event 
    select
      option(value='Summer Vacation') Summer Vacation
      option(value='Christmas') Christmas
  a(href='').button Get Photos
  div.section.group(ng-controller='ThumbController as thumbController')
    div.col.span_1_of_4(ng-repeat='thumb in thumbController.thumbs')
      img.fit(ng-src='{{thumb}}')
  
