extends layout

block head
	script(type='text/javascript', src='javascripts/thumbnailControllers.js')

block content
	div(ng-controller="ListController as listController")
		div.left
			h1 Get Photos
			h2 Select Group 
			hr
			div.section.group
				div.item-col.span_1_of_8(ng-repeat="group in groups")
					.item(ng-click="listController.getEvents(group)")  {{group}}
			div(ng-show="listController.hasEvents()")
				h2 Select Event 
				hr
				div.section.group
					div.item-col.span_1_of_8(ng-repeat="event in events")
						.item(ng-click="listController.getThumbs(event)")  {{event}}
				h1.title {{eventname}}
		div.section.group(ng-controller="ThumbController as thumbController")
			p.note(ng-hide="listController.hasThumbs()") (The {{eventname}} event does not have any photos)
			div.col.span_1_of_4(ng-repeat="thumb in thumbs", ng-class="{ active: thumbController.isSelected(thumb) }")
				img.fit(ng-src="http://104.236.25.185/{{thumb}}", ng-click="thumbController.selectPhoto(thumb)")
