extends layout

block head
	script(type='text/javascript', src='javascripts/thumbnailControllers.js')

block content
	div(ng-controller="ListController as listController")
		h1 Get Photos
		p Select Group 
			select(id="groupsddl")
				option(ng-repeat="group in groups", value="{{group}}") {{group}}
		button(ng-click="listController.getEvents()").button Show Events
		p Select Event 
			select(id="eventsddl")
				option(ng-repeat="event in events", value="{{event}}") {{event}}
		button(ng-click="listController.getThumbs()").button Show Photos
		div.section.group(ng-controller="ThumbController as thumbController")
			p.note(ng-hide="listController.hasThumbs()") (There are no photos to display for the specified event)
			div.col.span_1_of_4(ng-repeat="thumb in thumbs", ng-class="{ active: thumbController.isSelected(thumb) }")
				img.fit(ng-src="http://localhost/{{thumb}}", ng-click="thumbController.selectPhoto(thumb)")
