extends layout

block content
	h1
		ul.section.group
			li.nav-col.nav-span_1_of_4
				a(href='/upload') Add Photos
			li.nav-col.nav-span_1_of_4.nav-col-active
				a(href='/download') Get Photos
			li.nav-col.nav-span_1_of_4
				a(href='/manage-groups') Admin
			li.nav-col.nav-span_1_of_4
				a(href='/') Log Out
	div(ng-controller="ThumbController as thumbController")
		h1 Get Photos
		p Select Group 
			select(ng-controller="GroupSelecterController as groupSelecter")
				option(ng-click="groupSelecter.selectGroup({{group}})", ng-repeat="group in groups", value="{{group}}") {{group}}
		p Select Event 
			select(ng-controller="EventSelecterController as eventSelecter")
				option(ng-click="", ng-repeat="event in events", value="{{event.name}}") {{event.name}}
		a(href="").button Get Photos
		div.section.group(ng-controller="PanelController as panel")
			div.col.span_1_of_4(ng-class="{ active: panel.isSelected(thumb.id) }", ng-repeat="thumb in thumbController.thumbs")
				img.fit(ng-src="{{thumb.url}}", ng-click="panel.selectPhoto(thumb.id)")
