extends layout-no-menu

block content
  h1 Login
  p Welcome to Family Photo Share
  form(method='post', action='/checkuser')
    p
      input(placeholder='User Name', name='username')
    p
      input(placeholder='password', type='password', name='password')
    p
      button(type='submit') Log In
  p Don't have an account?
  p
    a(href='/sign-up') Sign Up
