extends layout

block head
	script(type="text/javascript", src="javascripts/loginController.js")

block content
	div(ng-controller="LoginController")
		h1.title Login
		p Welcome to Family Photo Share
		
		p
			input(type="text" ng-model="input.username" id="username" placeholder="User Name" name="username")
		p
			input(ng-model="input.password" id="password" placeholder="password" type="password" name="password")
		p
			button(ng-click="authenticateUser()").button Log In
		p Don't have an account?
		p
			a(href='/sign-up').button Sign Up
