extends layout-no-menu

block content
  h1 Login
  p Welcome to Family Photo Share
  form(action='action')
    p
      input(placeholder='user name or email')
    p
      input(placeholder='password', type='password')
    p
      a(href='/menu').button Log In
  p Don't have an account?
  p
    a(href='/sign-up') Sign Up
