doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .logo Family Photo Share
    .content
      h1
        ul.navigation
          li.nav-item
            a(href='/upload') Add Photos
          li.nav-item
            a(href='/download') Get Photos
          li.nav-item
            a(href='/manage-groups') Manage Groups
          li.nav-item
            a(href='/') Log Out
    .content
      block content
