doctype html
html(ng-app="thumbDisplayer")
  head
    meta(name='viewport',content='initial-scale=1')
    title= title
    link(rel='stylesheet', href='/stylesheets/grid-style.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript' src='/javascript/angular.js')
    script(type='text/javascript' src='/javascript/app.js')
  body
    .logo Family Photo Share
    .content
      block content
