doctype html
html
  head
    base(href="http://104.236.25.185/" target="_self")
    meta(name='viewport',content='initial-scale=1')
    title= title
    link(rel='stylesheet', href='stylesheets/style.css')
  body
    .logo Family Photo Share
    .content
      block content
