extends layout

block content
  h1 Manage Groups
  p Create New Group:
  p
    input(placeholder='group name')
    a(href='').button Create Group
  p Add User to Group:
  p
    select
      option(value='Smith Family') Smith Family
      option(value='Miller Family') Miller Family
  p
    input(placeholder='search for user')
    a(href='').button Add User to Group
  p Invite New Users:
  p
    input(placeholder='email address')
    a(href='').button Invite User
