extends layout

block content
	h1
		ul.section.group(ng-controller="NavController as nav")
			li.nav-col.nav-span_1_of_4
				a(href='/upload') Add Photos
			li.nav-col.nav-span_1_of_4
				a(href='/download') Get Photos
			li.nav-col.nav-span_1_of_4.nav-col-active
				a(href='/manage-groups') Admin
			li.nav-col.nav-span_1_of_4
				a(href='/') Log Out
	h1 Manage Groups
	p Create New Group:
	p
		input(placeholder='group name')
		a(href='').button Create Group
	p Add User to Group:
	p
		select
			option(value='Smith Family') Smith Family
			option(value='Miller Family') Miller Family
	p
		input(placeholder='search for user')
		a(href='').button Add User to Group
	p Invite New Users:
	p
		input(placeholder='email address')
		a(href='').button Invite User
