extends layout

block content
  h1 Menu
  p
    .button 
      a(href='/upload') Add Photos
  p
    .button 
      a(href='/download') Get Photos
  p
    .button 
      a(href='/manage-groups') Manage Groups
