extends layout

block content
  h1 Menu
  p
    .center-button 
      a(href='/upload') Add Photos
  p
    .center-button 
      a(href='/download') Get Photos
  p
    .center-button 
      a(href='/manage-groups') Manage Groups
