extends layout-no-menu

block content
  h1 Sign Up
  p Welcome to Family Photo Share. Signing up is quick and easy so that you can get right into sharing your photos!
  form(action='action')
    p
      input(placeholder='user name')
    p
      input(placeholder='email')
    p
      input(placeholder='password', type='password')
    p
      input(placeholder='confirm password', type='password')
    p
      .small-left-button
        a(href='/menu') Sign Up
 
