extends layout

block content
  h1 Add Photos
  p Select Group 
    select
      option(value='Smith Family') Smith Family
      option(value='Miller Family') Miller Family
      option(value='+ create new group') + create new group
  p Select Event 
    select
      option(value='Summer Vacation') Summer Vacation
      option(value='+ create new event') + create new event
  p 
    input(type='file')
  a(href='/upload-landing').button Add Photos
