extends layout

block content
	h1 Add Photos
	p Select Group 
		select
			option(value='Smith Family') Smith Family
			option(value='Miller Family') Miller Family
			option(value='+ create new group') + create new group
	p Select Event 
		select
			option(value='Summer Vacation') Summer Vacation
			option(value='+ create new event') + create new event
	form(method="post" action="api/groups/ajsdi/events/jkasdf/photos" enctype="multipart/form-data")
		p
			input(type='file' name='photos' required multiple)
		p
			input(type='submit' value="Add Photos")
