.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

.col {
	display: block;
	float: left;
	margin: 1% 0 1% 1.3%;
}

.col:first-child {
	margin-left: 0;
}

.group:before,
.group:after {
	content: "";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	zoom: 1;
}

.span_4_of_4 {
	width: 100%;
}

.span_2_of_4 {
	width: 49%;
}

.span_1_of_4 {
	width: 24%;
}

.center {
	position: relative;
}

.fit {
	max-width: 100%;
}

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (max-width: 480px) {
	.span_4_of_4 {
		width: 100%; 
	}
	.span_2_of_4 {
		width: 100%; 
	}
	.span_1_of_4 {
		width: 100%;
	}
}



