.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

.col {
	display: block;
	float: left;
	margin: .6%;
	cursor: pointer;
}

.group:before,
.group:after {
	content: "";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	zoom: 1;
}

.span_4_of_4 {
	width: 98.8%;
}

.span_2_of_4 {
	width: 48.8%;
}

.span_1_of_4 {
	width: 23.8%;
}

.active {
	background-color: #003969;
	padding: .5%;
	margin: .1%;
}

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1.8%;
	}

	.active {
		padding: 1.5%;
		margin: .3%;
	}

	.span_2_of_4 {
		width: 98.8%;
	}

	.span_1_of_4 {
		width: 98.8%;
	}
}

.nav-col {
	display: block;
	float: left;
	margin: .3% 0 .3% .5%;
	cursor: pointer;
}

.nav-col:first-child {
	margin-left: 0;
}

.nav-span_4_of_4 {
	width: 100%;
}

.nav-span_2_of_4 {
	width: 49%;
}

.nav-span_1_of_4 {
	width: 24.5%;
}

@media only screen and (max-width: 480px) {
	.nav-col { 
		margin: .3% 0 .3% 0%;
	}
}

@media only screen and (max-width: 480px) {
	.nav-span_4_of_4 {
		width: 100%; 
	}
	.nav-span_2_of_4 {
		width: 100%; 
	}
	.nav-span_1_of_4 {
		width: 100%;
	}
}

