body {
	background: url('/images/photo_share1.jpg') no-repeat #2b0a03;
	background-position: top center;
}

@media only screen and (min-width: 1440px) {
	body { 
		background-size: 100%;
	}
}

.logo,
h1,
.content {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	width: auto;
	max-width: 1000px;
	text-align: center;
}

.logo {
	font: 72px 'Lucida Grande', Helvetica, Arial, sans-serif;	
	color: #FFFFFF;
	text-shadow:
	-1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;

	padding-top: 1em;
	padding-bottom: 1em;
}

@media only screen and (max-width: 700px) {
	.logo { 
		font: 30px 'Lucida Grande', Helvetica, Arial, sans-serif;		
	}
}

.content {	
	background-color: #FFFFFF;
	padding: 0 0 2em 0;
}

h1 {
	font: 26px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

.content {
	font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
	line-height: 150%;
}

h2 {
	font: 22px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

input {
	margin: 5px;
}

.button {
	display: block;
	margin: 5px auto;

	background-color: #FFFFFF;	
	padding: .25em 1em;
	border-radius: .25em;
	width: 125px;

	font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
	color: #007dcc;

	text-align: center;
}

.button:hover {
	background-color: #DDDDDD; 
}

button {
	border: 0;
}

a {
	text-decoration: none;	
	color: #007dcc;
}

.fit {
	max-width: 100%;
}

.note {
	color: #AAAAAA;
}

.left {
	margin-left: 2em;
	margin-right: 2em;
	text-align: left;
}

.title {
	padding: 1em 0 0 0;
}

.warning {
	color: #ff0000;
}
