body {
  background: url('/images/photo_share1.jpg') no-repeat #1E1E1E;
  background-position: top center;
}

.logo,
h1,
.content {
    display: block;
    margin-left: auto;
    margin-right: auto;

	height: auto;
	width: auto;
	max-width: 1200px;
}

h1,
.content {	
	background: #ffffff;
	border-radius: .25em;
}

.logo {
	font: 72px 'Lucida Grande', Helvetica, Arial, sans-serif;	
	color: #ffffff;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
	text-align: center;

	padding-top: 1em;
	padding-bottom: 1em;
}

h1 {
	margin-top: 0;
	margin-bottom:0;

	font: 26px 'Lucida Grande', Helvetica, Arial, sans-serif;
	text-align: center;
}

.content {
	margin-top: 1em;
	margin-bottom: 1em;

	font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
	line-height: 150%;

	padding: 1em;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;

    height: auto;
	width: auto;
	max-width: 280px;
}

input {
	margin: .25em .5em
}

.center-button,
.left-button,
.small-left-button {
	margin-top:1em;

	height: auto;
	width: auto;	

	text-align: center;

	background: #C5C5C4;	
}

.center-button {
    display: block;
    margin-left: auto;
    margin-right: auto;

	max-width: 125px;

	border-radius: .25em;
	padding: .25em 1em;
}

.left-button {
	max-width: 125px;

	border-radius: .25em;
	padding: .25em .25em;
}

.small-left-button {
	max-width: 75px;

	border-radius: .25em;
	padding: .25em .25em;
}

a {
	text-decoration: none;	
	color: #007dcc;
}

a:hover {
	color: #606060;
}

.navigation {
	clear: both;
	padding: 0px;
	margin: 0px;
}

.nav-item {
	display: inline-block;
	list-style: none;
	margin: 0% 3%;

	cursor: pointer;
}

@media only screen and (max-width: 800px) {
	.navigation {
		margin: 0px;
	}

	.nav-item { 
		margin: 1px 0px;
		padding: 5px 0px;
		width: auto;
		min-width: 49%;
		background: #C5C5C4;	
	}
}

@media only screen and (max-width: 500px) {
	.nav-item { 
		min-width: 100%;	
	}
}

