doctype html
html
	head
		title= title
		base(href="http://104.236.25.185/", target="_blank")
		link(rel="stylesheet", type="text/css", href="email_templates/groupInvitation/style.css")
	body
		h3 Hello,
		h3
		  strong #{referrername.first} #{referrername.last}
		  | has invited you to join famPhotoShare!
		a.myButton(href='sign-up') Accept
	
