doctype html
html
	head
		title= title
		base(href="http://104.236.25.185/", target="_blank")
		link(rel="stylesheet", type="text/css", href="email_templates/groupInviation/style.css")
	body
		h3 Hello!
		p.
			<strong>#{invitername.first} #{invitername.last}</strong>
			has invited you to join #{groupname}!  Please,
			<a href="manage-groups"> Accept/Reject Invitation </a> now!
